Blogmailer#register

<!DOCTYPE html>
<body>
 	<h1>Thanks for joining our online car catalogue, <%= @customer.name %></h1> 
 	<p>       You have successfully signed up   </p>  
 	<p>Thanks for joining,  <%=@customer.email%> </p> 
   </body> 
 </html> 
