<h1 align = center>Welcome to Viking Cars</h1>
<p>
Viking cars is a car dealership with branches spread all across the Republic of Ireland.
 We buy and sell both used and new cars
at prices so you won't be able to look away. 
Viking was established in 2010 by Stephen Stewart who noticed a niche in the market
for a new car dealership in Ireland. 
It all began with branches in Blancharstown and Liffey Valley, 
and upon the their success,Viking expanded to Gorey in county Wexford, 
Castlebar in Mayo and Letterkenny in Donegal.
</p>
