<h1 align = center>Weclome to Viking Cars</h1>
<p align = center> Enter your details here <%= link_to "Sign up now!", new_customer_path %></p>
<p align = center><%= image_tag("car.jpg", :size => "700x600") %></p>